{% extends 'master.html' %}
{% block title %}
	<title>customers</title>
{% endblock %}
{% block content %}
<div class="container">
<h2>customers</h2>
<table class="table">
    <tr>
        <th>delete</th>
    <th>id</th>
    <th>first name</th>
    <th>last name</th>
    <th>email</th>
    <th>joining date</th>
    </tr>
  {% for customer in customers %}
  	<tr>
      <tr>
                  <td>{{ customer.id }}</td>
                  <td>{{ customer.first_name }}</td>
                  <td>{{ customer.last_name }}</td>
                  <td>{{ customer.email }}</td>
                  <td>{{ customer.created_at }}</td>
          {% if  perms.dbs.delete_customer %}
          	<td>
                    <a class="btn btn-danger" href="{% url 'delete_customer' customer.id %}">Remove</a>
                </td>
          {% endif %} 
                  
              </tr>
  {% empty %}
  	<p>no customers in the sacco</p>
  {% endfor %}
  
    
    
</table>
</div>
{% endblock %}