{% extends 'master.html' %}
{% block title %}
	<title>customers</title>
{% endblock %}
{% block content %}
<div class="container">
<h2>customers</h2>
<table class="table">
    <tr>
        
    <th>id</th>
    <th>first name</th>
    <th>last name</th>
    <th>email</th>
    <th>joining date</th>
    </tr>
   {% for customer in data.object_list %}
  	<tr>
      <tr>
                  <td>{{ customer.id }}</td>
                  <td>{{ customer.first_name }}</td>
                  <td>{{ customer.last_name }}</td>
                  <td>{{ customer.email }}</td>
                  <td>{{ customer.created_at }}</td>
          {% if  perms.dbs.delete_customer %}
          	<td>
                    <a class="btn btn-danger" href="{% url 'delete_customer' customer.id %}">Remove</a>
                </td>
              <td>
                    <a class="btn btn-info" href="{% url 'customer_details' customer.id %}">Details</a>
                </td>
          {% endif %}

              </tr>
  {% empty %}
  	<p>no customers in the sacco</p>
  {% endfor %}
  
    
    
</table>
  <div class="row justify-content-center">
            <div class="col-sm-2">
                {% if data.has_previous %}
                    <a class="btn btn-outline-primary btn-sm" href="?page={{ data.previous_page_number }}"> << </a>
                {% endif %}
                <span class="mx-3">{{ data.number }}</span>
                {% if data.has_next %}
                    <a class="btn btn-outline-primary w-100 btn-sm" href="?page={{ data.next_page_number }}"> >> </a>
                {% endif %}
            </div>
        </div>
</div>
    
{% endblock %}